<%- include('header.ejs') %>

<h4 class="post-author">Author: <%=author %></h4>
<div class="post-mid">
    <h1 class="post-title color"><%=title %></h1>
    <p class="post-content">"<%= content %>" </p>
</div>


<%- include('footer.ejs') %>